* {
	margin: 0;
}
.nav1{
	display: flex;
	background-color: #23232e;
	position: fixed;
	top:0;
	width: 100%;
	height: 8vh;
	color: #fff;
	font-family: system-ui, -apple-system, Helvetica, Arial;
	align-items: center;
	justify-content: space-around;
}
.logo1{
	font-size: 1.8rem;
}
.text-nav1{
	display: flex;
	justify-content: space-around;
}
.text-nav1 a{
	letter-spacing: 2px;
}

.link1{
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1rem;
	padding: 1rem;
}
.link1:hover{
	background-color:#2C2B50; 
}
